{% extends "base.html" %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        <!-- {{ user_form.as_p }} mudar pra deixar mais bonitinho-->
        <div class="form-group">
            {{ user_form.username.errors }} <!-- cuidar dos erros que podem ser gerados-->
            <label>Usuário: </label>
            {{ user_form.username }} <!-- da pra pegar um mais especifico-->
        </div> 

        <div class="form-group">
            {{ user_form.password1.errors }}
            <label>Senha: </label>
            {{ user_form.password1 }} <!-- da pra pegar um mais especifico-->
        </div> 

          <div class="form-group">
            {{ user_form.password2.errors }}
            <label>Confirmação de senha: </label>
            {{ user_form.password2 }} <!-- da pra pegar um mais especifico-->
        </div> 
        
        <div class="form-group">
            <input type="submit" value="Cadastrar">
        </div> 
        
    </form>

{% endblock %}